@use '../vars/' as *;
@use '../mixins/' as *;

.about {
  &__paragraph {
    max-width: 30rem;
    text-align: center;
  }

  &__list {
    display: flex;
    gap: 2rem;
  }

  &__item {
    color: $white;
    width: 22rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1.25rem;

    border-radius: 0.4rem;
    border: 0.2rem solid $black;
    box-shadow: 0 -0.3rem 0 0 $black inset;

    &_bg {
      &_tomato {
        background-color: $tomato;
      }
      &_pink {
        background-color: $pink;
      }
      &_pink {
        background-color: $pink;
      }
      &_gold {
        background-color: $gold;
      }
    }

    &-image {
      flex: 0 0 4rem;
      background-color: $white;
      padding: 1.25rem;
      @include element-border($shadow-size: 0);
    }

    &-title {
      flex: 1 1 0%;
      font-size: 1.25rem;
      font-weight: 700;
    }
  }

  
  &__swiper {
    width: 100%;
    padding: 0 1.5rem;
  }
  &__pagination {
    position: static;
    margin-top: 1.5rem;
    .swiper-pagination-bullet {
      width: 0.75rem;
      height: 0.75rem;
      background-color: $black;
    }
  }
}